<tr>
  <td><%= post.title %></td>
  <td><%= post.content %></td>
  <td><%= link_to 'Pokaż', post %></td>
  <td><%= link_to 'Edytuj', edit_post_path(post) %></td>
  <td><%= link_to 'Usuń', post, method: :delete, data: { confirm: 'Czy?' } %></td>
 </tr>