 <div class="post row">
 	<div class="header vertical-align">
 		<div class="col-xs-9"><h4><%= post.title %><h4></div>
 		<div class="col-xs-3 text-right">Dodano: <%= post.created_at.strftime('%d-%m-%Y') %><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span></div>
 	</div>
 	<div class="content">
 		<% if post.content.match /kurcze/i %>
 			"Tylko dla dorosłych!"
 		<% else %>
 			<%= post.content %>
 		<% end %>
 	</div>
 	<div class="links text-right">
 		<%= link_to 'Pokaż', post, class: "btn btn-primary" unless single_post? %>
  	<%= link_to 'Edytuj', edit_post_path(post), class: "btn btn-info" %>
  	<%= link_to 'Usuń', post, method: :delete, data: { confirm: 'Czy?' }, class: "btn btn-danger" %>
 	</div>
 </div>